@defaultColor: #666;
@defaultRadius: 4px;
.border-radius(@radius:@defaultRadius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.m0auto {
  margin: 0 auto;
}

.mt(@gap) {
  margin-top: @gap;
}

.container:extend(.m0auto) {
  width: 1000px;
}