@defaultColor: #666;
@defaultRadius: 4px;
.border-radius(@radius:@defaultRadius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.mt(@gap) {
  margin-top: @gap;
}