body {
  font-size: 14px;
  font-weight: 100;
  font-family: "Trebuchet MS", "微软雅黑", serif !important;
  color: #606060;
  background: #ffffff url("../../img/bg.png") repeat;
}
ul,
li,
input,
button {
  padding: 0px;
  margin: 0px;
}
button {
  border: 0px;
  background-image: none;
}
p {
  margin-top: 0px;
  margin-bottom: 15px;
}
li {
  list-style: none;
}
.default-link,
a {
  color: #666666;
  text-decoration: none;
  transition: all 0.2s linear 0s;
}
.default-link:hover,
.default-link:focus,
.default-link:active {
  color: #ff5b24;
}
.tac {
  text-align: center;
}
.default-border,
.widget {
  border: 1px solid #eeeeee;
}
.white-bg,
.header,
.widget {
  background-color: #fff;
}
.db {
  display: block;
}
.m0auto,
.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
#container {
  padding-top: 30px;
}
.header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
.header .container {
  padding: 0px 15px;
}
.header-wrapper {
  padding-left: 179px;
}
.header-wrapper .left {
  width: 179px;
  margin-left: -179px;
}
.header-wrapper .logo {
  height: 60px;
  background: url("../../img/slyak.png") no-repeat 15px 14px;
  text-indent: -500px;
}
.header .pure-menu-link {
  background-color: #fff;
  color: #666666;
}
.header .pure-menu-allow-hover > .pure-menu-link {
  border-top: 2px solid #fff;
  height: 58px;
  line-height: 58px;
  margin-right: 30px;
}
.header .pure-menu-allow-hover > .pure-menu-link:hover,
.header .pure-menu-allow-hover > .pure-menu-link:focus {
  border-color: #ff5b24;
}
.header .pure-menu-allow-hover.pure-menu-selected > .pure-menu-link {
  border-color: #ff5b24;
}
.header .pure-menu-has-children > .pure-menu-link::after {
  content: " ";
}
.header .pure-menu-selected > .pure-menu-link,
.header .pure-menu-active > .pure-menu-link,
.header .pure-menu-link:hover,
.header .pure-menu-link:focus {
  color: #ff5b24;
}
.pure-button,
.search-form button {
  height: 36px;
  line-height: 36px;
  background-color: #ff5b24;
  color: #fff;
  font-size: 13px;
  padding: 0px 12px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
.pure-button:hover {
  background: #000;
  color: #fff;
}
.column-wrapper {
  padding: 0px 15px;
}
.post-info {
  padding-left: 59px;
}
.post-info .left {
  width: 59px;
  margin-left: -59px;
}
.post-type {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid #ff5b24;
  color: #ff5b24;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 12px;
}
.post-title {
  font-size: 24px;
  text-shadow: #999999 1px 1px 5px !important;
}
.post-meta {
  margin-top: 10px;
  color: #999;
  font-size: 12px;
}
.post-simple {
  padding-bottom: 15px;
  border-bottom: 1px dotted #dddddd;
  margin-bottom: 15px;
  padding-left: 75px;
}
.post-simple .left {
  width: 75px;
  margin-left: -75px;
}
a.post-simple-title {
  color: #222;
  display: block;
}
.tabs {
  border-bottom: 1px solid #dddddd;
}
.tabs .tab {
  padding: 0px 5px;
  border-top: 3px solid #ffffff;
  border-right: 1px solid #eeeeee;
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.tabs .tab-active,
.tabs .tab:hover,
.tabs .tab:focus {
  border-top-color: #ff5b24;
  color: #222;
}
.widget {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.widget-header,
.widget-header-2 {
  border-bottom: 1px solid #eeeeee;
}
.widget-header-2 {
  padding: 10px 15px;
}
.widget-content,
.widget-header {
  padding: 30px;
  line-height: 28px;
}
.search-form {
  padding-right: 48px;
}
.search-form .right {
  width: 48px;
  margin-right: -48px;
}
.search-form input,
.search-form button {
  padding: 0px;
  margin: 0px;
  height: 38px;
  line-height: 38px;
  box-sizing: border-box;
}
.search-form input {
  width: 100%;
}
.search-form button {
  text-align: center;
  width: 48px;
}
.search-form input {
  padding: 0px 15px;
  border: 1px solid #e4e4e4;
  background-color: #f7f7f7;
}
.search-form input:focus {
  border: 1px solid #ff5b24;
  box-shadow: none;
  outline: 0 none;
}
